
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
 }

 body {
    background-color: #FFF7E8;
 }

 a {
    text-decoration:none;
 }

 /*--- Boton subscribe de index.html -------------------*/

.subscribe {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    background-color: rgba(220, 0, 0, 1);
}

.subscribe:hover {
    background-color: rgba(255, 0, 0, 1);
}

.subscribe:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFF7E8; /*añadido color de fondo*/
}


 /*---------- Header ------------------------- */

header {
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    padding-top: 10px;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 10px;
    background: white;
    display: flex;
    flex-flow: wrap;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 10;
}



.header-logo-link {
    border: none;
}

.header-logo-link:hover {
    border: none;
}

.header-logo {
    width: 150px;
    height: auto;
}

.container {
    width: 100%;
}

@media screen and (max-width: 700px) {
    header {
        float: none;
        display: block;
        text-align: center;
    }
}

/*------ nav -------------------------- */

nav {
    color: #2A2A2A ;
    font-family: 'Montserrat', sans-serif;
    float: right;
    
}

nav ul {
    padding-left: 0px;
}


nav ul li {
    display: inline-block;
    font-weight: 400;
    padding-left: 10px;
    font-weight: 600;
    font-size: 0.8em;
}


nav ul li a {
    color: inherit;
    border: none;
}

nav ul li a:hover {
    border: none;
    color: #79BAAB;
}

nav li.active a {
    font-weight: 900;
    color: var(--accent-color);
}

@media screen and (max-width: 700px) {
    nav {
        float: none;
        display: block;
        text-align: center;
    }
    nav li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*--- cuerpo central -----------------*/
.primera{
    width: 70%;
    margin: 0 auto 0 auto; /*centramos cuerpo central*/
}
/*//--- What are we cooking -----------*/
    .whatAreWe{
        background: url(../img/knife-bg.jpg) lightsalmon center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: auto;

    }
    .whatAreWe form{
        width: 250px; /*para que el texto esté en dos líneas*/
        text-align: center;
        margin: 0 auto 0 auto; /*centramos formulario*/
    }

    .labelWhate{
        padding: 30px 0 10px 0;
    }

    .labelWhate label{
        font-size: 25px;
        font-weight: 900;
    }

    .labelWhate  h1{
        font-family: 'Montserrat', sans-serif;
    }

    .inputWhate{
        font-family: 'Montserrat', sans-serif;
        font-size: x-small;
        padding: 5px 0 5px 20px;
        background-image: url('../img/icons/search.svg');
        background-position: 8px 50%;
        background-repeat: no-repeat;
        background-size: 6%;
        margin: 0 0 40px 0;
        border: none;
        border:solid 1px #79BAAB;
        border-radius: 2px;
    }


    /*-------- Contenido de la página index LATEST MEALS -------------------*/


    .lastestmEl > div {
        padding: 5px 5px 20px 5px;
        width: 25%;
        /*float: left; */
    }
    .lastestmEl img {
        width: 100%;
        height: auto;
    }
    .lastestmEl figcaption {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight:bold;
    }
    .lastestmEl {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

   /* -- para conseguir líneas a los lados del título -- */
   h2 {
    text-transform: uppercase;
    font-size: small;
}
h2.rallado {
    text-align: center;
    margin: 20px auto;
    width: 98%;
    position: relative;
    font-size: 20px;
}
h2.rallado:before {
    content: "";
    display:block;
    width: 100%; /*ancho de la línea */
    height: 2px; /* grosor de la línea */
    background: #2A2A2A ; /*color de la fuente*/
    position: absolute; /*se posiciona sin espacio en el punto inicial de su contenedor  */
    left: 0; /*donde empieza la línea: margen izquierdo*/
    top:50%;
    z-index: -2; /*para que se ponga por detrás del texto */
}
h2.rallado:after {
    content: "";
    display:block;
    width: 100%; /*ancho de la línea */
    height: 2px; /* grosor de la línea */
    background: #2A2A2A ; /*color de la fuente*/
    position: absolute; /*se posiciona sin espacio en el punto inicial de su contenedor  */
    right: 0; /*donde empieza la línea: margen izquierdo*/
    top:50%;
    z-index: -2;
}
h2.rallado>span {
    background: #FFF7E8; /* color de fondo de body */
    padding: 0 5px 0 5px;
}

@media screen and (max-width: 700px) {
    .lastestmEl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .lastestmEl > div {
        width: 50%;
    }

}

/* -- fin de conseguir líneas a los lados del título -- */

    /* --- Shop --------------------------------------------*/
    .shop {
        padding: 10px;
        margin: 20px 0 0px 0;
        display: block;

        background: url(../img/shop-bg.jpg) lightsalmon center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;

    }

    .shop>div{
        margin: 40px auto 40PX auto; /*centramos texto SHOP    */
        width: 60%;
        background-color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: x-small;
        padding: 20px;
        position: relative;
    }
    .shop p {
        margin: 10px 0;
    }

    .shop a {
       text-decoration:none;
        color: #DC4A23;
    }

    .shop a:hover {
        text-decoration:none;
        color: #EB9781;
    }

    /* -- para conseguir sombras recuadro blanco SHOP -- */
    .shopt{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /* -- para conseguir líneas a los lados del título SHOP -- */
    .shopt>h2 {
        /* lines */
        min-width: 30%;
        max-width: 150px;
       /* position: relative;*/
        z-index: 2;
    }
    .shopt>h2:before {
        height: 1px; /* grosor de la línea */
        z-index: -1; /*para que se ponga por detrás del texto */
    }

    .shopt>h2>span {
        background: white; /* color de fondo de body */
        padding: 0 5px 0 5px;
        z-index: 4;
    }
    .shopt p {
        font-size: 14px;
        padding: 0px 40px 0px 40px;
    }

    /* --- Fin de Shop --------------------------------------------*/

    /* --- PICK --------------------------------------------*/
    .pick {
        margin: 20px 0px 20px 0px;
        display: flex;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }
    .pick > div {
        width: 50%;
    }
    .pick > div > img{
        width: 100%;
        height: auto;
    }
    .pickText{
        padding-right: 20px;
    }

    .pick h4 {
        font-size: x-small;
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: normal;
        padding-bottom: 5px;
    }
    .pick p {
        font-size: x-small;
        margin-top: 10px;
        font-size: 14px;
        line-height: 160%;
    }
    .pick a {
        display: block;
        font-size: x-small;
        padding: 5px 2px 5px 8px;
        border:solid 1px #79BAAB;
        border-radius: 2px;
        color: #79BAAB;
        background-color: #FFFFFF;
        width: 80px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 700px) {
        .pick {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
        .pick > div {
            width: 100%;
        }
        .shopt p {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
/* --- Fin de PICK--------------------------------------------*/
/*-------- fin de contenido de index -------------------*/



/*-------- Estilos para contenido de recipes -------------------*/
.tituPagina{
    text-transform: uppercase;
    text-align: left;
    margin: 20px auto 5px auto;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}
.descripcion>p {
    font-size: 14px;
    margin-bottom: 10px;
}
.paginas{
    font-size: x-small;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px auto;

}
.paginas>a{
    color: #79BAAB;
}
.paginas>a:hover{
    color: #C5E1DB;
}
/*-- Estilos para "resto": contenedor de recetas y shop ------*/
.resto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 30px;
}
/*- Fin estilos para "resto": contenedor de recetas y shop ------*/
/*-------- Estilos para buscador -------------------*/

.buscador > article {
    margin-top: 15px;
    margin-bottom: 5px;
}
.buscador {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 20px;
    flex: 1;
}

.buscador h3{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 12px;
}

.inputWhate{
    width: 95%;
}

.buscador div{
    padding: 0;
    margin:3px 0;
}
.buscador [type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width: 8px;
    height: 8px;
}
#busca {
    padding-left: 30px;
}
/*------ Fin estilos para buscador -----------------*/
/*-------- Estilos para container -------------------*/
.container {
    flex: 3;
}
/*------ Fin estilos para container -----------------*/
/*-------- Estilos para parrilla -------------------*/

.parrilla figure {
    margin-top: 5px;
}
.parrilla img {
    width: 100%;
    height: auto;
}
.parrilla figcaption {
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bold;
}
.parrilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 15px;
}
/*------ Fin estilos para parrilla -----------------*/

@media screen and (max-width: 700px) {
    .buscador {
        display: none;
    }
    .parrilla {
        grid-template-columns: 1fr 1fr;
    }
}
/*-------- Fin de estilos para contenido de recipes ------------*/



/*---- Videos--------*/

.vpa{
    width: 70%;
    margin: 30px auto 0 auto; /*centramos cuerpo central*/
    padding-bottom: 40px;
    font-size: 14px;
}

.vpa h1{
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 20px;
}


.vparrilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
    row-gap: 40px;
  }

.vparrilla > div {
    width: 100%;
    background-color: white;
    display:flex;
    flex-direction: column;
  }
  .vparrilla > div > div {
    flex: 2;
  }
.vparrilla iframe {
    width: 100%;
    flex: 1;
    border: 0px;
}

.descvideo{
    padding: 20px;

}
.descvideo h4 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.descvideo p {
    line-height: 150% ;
    padding-left: 0%;
}


 @media screen and (max-width: 700px) {
    .vparrilla {
      display: contents;
    }
    .vparrilla > div {
      margin-top: 20px;
    }
}


/* ------ newsletter ---------------------------------*/

.news {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #79BAAB;
    background-image: url("../img/doodle.png");
    background-repeat: repeat;
    background-size: 15%;
}


.news form {
    margin: 0 auto 0 auto;
    width: 400px;
    text-align: center;
}

.news label {
    font-size: 1.5em;
    font-weight: 900;
}

.news p {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0 10px 0;
}

.news button {
    background-color: #DC4A23;
    font-size: 9px;
    color: white;
    margin-left: 5px;
    border:0px;
}

.news ::placeholder {
    font-size: 9px;
}

#nl_email {
    padding-left: 5px;
}



/* ------------- footer ------------------------*/

footer {
    padding-top: 10px;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 5em;
    background: #2A2A2A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:white;
}

.nombre {
    font-size: 0.8em;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 15px;
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.nombre p {
    font-size: inherit;
    width: 200px;
    padding-bottom: 5px;
}

.redes {
    width: 400px;
    flex: 200px;
}

.redes p{
    float: right;
    text-align: right;
    width: 400px;
}
.redes a{
    padding-left: 10px;
    display:inline-block;
    vertical-align:middle;
} 

.redes p:hover{
    color: #79BAAB;
}

.redes a:hover {
    opacity: 0.7;
}

.nombreA {
    font-size: 0.6em;
    margin-bottom: 5px;
    width: 100%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
}

.nombreA ul {
    width: 25%;
    text-align: right;
    flex:2px;
    float:right;
    text-align: right;
}
.nombreA ul li {
    list-style: none;
    padding-left: 10px;
    display: inline;
}

.nombreA a {
    text-decoration: none ;
    color: #FFFFFF;
}

.nombreA a:hover {
    text-decoration: none ;
    color: #79BAAB;
}

@media screen and (max-width: 700px) {
    footer {
        float: none;
        display: block;
        text-align: center;
    }

    .redes {
        font-size: 0.7em;
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }

    .redes p {
        font-size: 0.9em;
        float: none;
        text-align: center;
        display: contents;
    }

    .nombre {
        float: none;
        display: inline-flex;
        text-align: center;
    }

    .nombre p {
        width: 100%;
        text-align: center;
    }
    .nombreA {
        float: none;
        display: block;
        text-align: center;
    }
    .nombreA ul {
        display:contents;
        float: none;
        text-align: center;
    }
    .nombreA ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
}